{% extends "Users/base.html" %}

{% block body %}
<h1 style="color:blue">SignUp</h1>
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<form action="{% url 'new_user' %}" method="post">
    {% csrf_token %}
    username:<input type="text" name="username" /><br>
    First_name:<input name="user_first_name" type="text"/><br>
    last_name:<input name="user_last_name" type="text"/><br>
    email:<input type="text" name="email" /><br>
    password:<input name="password" type="password"/><br>
    <input type="submit" value="SignUp"/>
</form>
<a href="{% url 'login' %}">Login</a>
{% endblock %}
